@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

.header-container {
    background: url('images/header.jpg') no-repeat center center fixed;
    height: auto;
    min-height: 200px;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    position: relative;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Vertical alignment code taken from https://www.w3schools.com/howto/howto_css_center-vertical.asp */
.header-text {
    background: transparent;
    color: #ffffff;
    text-align: center;
    padding-top: 5%;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}   

.header-title {
    font-size: 36px;
}

.header-subtitle {
    font-size: 24px;
}

/* Media queries */

@media screen and (max-width: 600px) {
    .header-text {
        background: transparent;
        color: #ffffff;
        text-align: center;
        padding-top: 70px;
        font-weight: 500;
        letter-spacing: 0px;
    }

    .header-title {
        font-size: 6vw;
    
    }
    
    .header-subtitle {
        font-size: 4vw;
    }
    
}
